* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    color: white;
    margin: 4px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:1.2px;
}


.abs-container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    max-width: 600px;
    min-width: 150px;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.cities-item {
    color:  white;
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    max-width: 600px;
    min-width: 150px;
    width: 100%;
}

.items-box {
    background-color: #0A0F29;
    width: 100%;
    min-width: 150px;
    max-width: 600px;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
    align-items: center;
    justify-content: center;

}

.search {
    background-color: #C3C8E3;
    width: 95%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

#main-label {
    width: 100%;
    border-radius: 20px;
}

#search-string {
    width: 90%;
    border-radius: 20px;
}

#search-clear {
    text-align: center;
    width: 10%;
}

#map {
    height: 100%;
}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 18px;
    }

@media screen and (max-width: 700px) {
    h2 {
        font-size: 14px;
    }